<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>404 Not Found</title>
  </head>
  <body>
    <%- include('./partials/script') %>
    <h1 class="text-center">404 NOT FOUND</h1>
  </body>
</html>
