<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/script') %>
    <h1 class="text-center">Welcome To DryWash Dhobi</h1>
    <h3 class="text-center">One Stop Destination For All Your Laundry Needs</h3>
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
